.card-filter {
    width: auto !important;
    margin-top: 1.5rem !important;
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.card-body-filter {
    padding: 0.75rem 20px !important;
}